{% load static %}

<div class="row" id="cards-element">

  {% for graded_card in graded_cards %}

    <div class="card-col col-sm-4 col-lg-4 col-md-4">
      <div class="card shadow" id="card{% if graded_card.grade %}-success{% elif graded_card.grade == False %}-fallout{% endif %}">
        <span>
          <img {% if graded_card.grade %} src="{% static 'images/CardSuccess.png' %}{% elif graded_card.grade == False %}src="{% static 'images/CardFail.png' %}{% endif %} ">
        </span>
        <h3 class="text-uppercase white-text">
          {{ graded_card.card.title }}</h3>

        <div id="content" class="white-text-container">

          {% load tz %}
          {% timezone "America/Los_Angeles" %}
          <p class="observed-date">{{ graded_card.datetime|date:"n/j G:i" }}</p>
          {% endtimezone %}

          {% for graded_section in graded_card.graded_sections %}
            {% with section=graded_section.section grade=graded_section.grade checks_done=graded_section.checks_done %}

              {% if section.title %}
                    <p class="card-section {% spaceless %}
                        {% if section.is_gradable %}
                          {% if grade %}card-section-success
                          {% elif grade == False %}card-section-fallout
                          {% else %}card-section-n-a
                          {% endif %}
                        {% endif %}
                        {% endspaceless %}">
                    {% if section.check_count > 1 %}{{ checks_done|default_if_none:0 }}/{{ section.check_count }}{% endif %}
                      <strong>{{ section.title }}</strong>
                    </p>
              {% endif %}

              {{ section.contents|safe }}
              <br>
            {% endwith %}
          {% endfor %}

        </div>
      </div>
    </div>

  {% endfor %}
</div>

<div class="row">
  {% for graded_card in graded_cards %}
    <div class="img-col col-sm-4 col-lg-4 col-md-4">
      <div class=" shadow companion-image">
        {% if graded_card.card.companion_image %}
          <img class="img-responsive" src="{{ graded_card.card.companion_image.url }}">
        {% else %}
          <img class=img-responsive" src="{% static "images/placeholder.png" %}"/>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
