{% load huddle_board_tags %}

<div class="shadow" id="history-element">
  <h3>Past 30 days</h3>
  <div id="bar-counter">
    {% for card, history, success_rate in result_history %}
      <h6>{{ card.title }} ({{ success_rate|percentage }})</h6>
      {% spaceless %}
        {% for grade in history %}
          <span class="history-item {% if grade == True %}pass{% elif grade == False %}fallout{% else %}n-a{% endif %}"></span>
        {% empty %}
          <span>&nbsp;</span>
        {% endfor %}

      {% endspaceless %}
    {% empty %}
      <p>(no observations yet)</p>
    {% endfor %}
  </div>
</div>
