{% extends "base.html" %}
{% load static %}

{% block meta %}
 <meta http-equiv="refresh" content="15">
{% endblock meta %}

{% block extra_title %}Huddle Board{% endblock extra_title %}

{% block content %}
  <div class="container">

      <div class="col-md-3">
        <div id="tips">
          <h3>Safety Message</h3>
          <p>Placeholder for Messages</p>
        </div>

        <div id="bar-counter">
          <h4>Past 30 days</h4>
          {% for card, history in result_history %}
            <h6>{{ card.title }}</h6>
            {% spaceless %}
              {% for grade in history %}
                <span class="{% if grade == True %}pass{% elif grade == False %}fallout{% else %}n-a{% endif %}">l</span>
              {% empty %}
                <span>&nbsp;</span>
              {% endfor %}
            {% endspaceless %}
          {% empty %}
            <p>(no observations yet)</p>
          {% endfor %}
        </div>

        <a href="{% url "pompom:mobile_menu" board.id %}">
          <div id="qr-code"></div>
        </a>

      </div>

      <div class="col-md-9">

        <div class="row carousel-holder">

          <div class="col-md-12">
            <div class="title-bar">
              <h1>Keeping Patients Safe</h1>
              <h2>Acknowledge + Review + Learn</h2>
            </div>
          </div>

        </div>

        <div class="row">

          {% for graded_card in graded_cards %}

            <div class="col-sm-4 col-lg-4 col-md-4">
              <div id="card{% if graded_card.grade %}-success{% elif graded_card.grade == False %}-fallout{% endif %}">

                <h1 class="text-uppercase">{{ graded_card.card.title }}</h1>

                <div id="content">

                  {% for graded_section in graded_card.graded_sections %}
                    {% if graded_section.section.title %}
                      <p><strong class="
                          {% if graded_section.grade %}card-section-success
                          {% elif graded_section.grade == False %}card-section-fallout
                          {% endif %}
                      ">
                        {{ graded_section.section.title }}
                      </strong></p>
                    {% endif %}
                    {{ graded_section.section.contents|safe }}
                    <br>
                  {% endfor %}

                </div>
              </div>
            </div>

          {% endfor %}
        </div>

        <div class="row">
          {% for graded_card in graded_cards %}
            <div class="col-sm-4 col-lg-4 col-md-4">
              <div class="companion-image">
                {% if graded_card.card.companion_image %}
                  <img class="img-responsive" src="{{ graded_card.card.companion_image.url }}">
                {% else %}
                  <img class=img-responsive" src="{% static "images/placeholder.png" %}"/>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>


      </div>

  </div>
{% endblock content %}

{% block js %}
  <script type="text/javascript" src="{% static "js/qrcode-js/qrcode.min.js" %}"></script>
  <script type="text/javascript">
      new QRCode(
          document.getElementById("qr-code"),
          "{{ url_parts.protocol }}{{ url_parts.domain }}{% url "pompom:mobile_menu" board.id %}"
      );
  </script>
{% endblock js %}
