{% extends "base.html" %}
{% load static %}

{% block extra_title %}Huddle Board{% endblock extra_title %}

{% block content %}
  <div class="container">

    <div class="col-md-3 sidebar">

      <div id="safety-message-container">
        {% include "huddle_board/board_elements/safety_message.html" %}
      </div>

      <div id="history-container">
        {% include "huddle_board/board_elements/history.html" %}
      </div>

      <div id="qr-container">
        {% include "huddle_board/board_elements/qr_code.html" %}
      </div>

    </div>

    <div class="col-md-9">

      <div class="row carousel-holder">

        <div class="col-md-12">
          <div class="title-bar">
            <h1>Keeping Patients Safe</h1>
            <h2>Acknowledge + Review + Learn</h2>
          </div>
        </div>

      </div>

      <div id="cards-container">
        {% include "huddle_board/board_elements/cards.html" %}
      </div>

    </div>

  </div>
{% endblock content %}

{% block static_js %}
  <script type="text/javascript" src="{% static "js/qrcode-js/qrcode.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/huddle_board_elements.js" %}"></script>
{% endblock static_js %}

{% block dynamic_js %}
  <script type="text/javascript">
      displayQRCode();
      new ElementRetriever("{% url "pompom:huddle_board_history" board.id %}", "history", {{ refresh_timer }});
      new ElementRetriever("{% url "pompom:huddle_board_safety" board.id %}", "safety-message", {{ refresh_timer }});
      new CardsRetriever("{% url "pompom:huddle_board_cards" board.id %}", "cards", {{ refresh_timer }});
      new QRRetriever("{% url "pompom:huddle_board_qr" board.id %}", "qr", {{ refresh_timer }});
  </script>
{% endblock dynamic_js %}
