{% extends "base.html" %}
{% load static %}

{% block extra_title %}Select action{% endblock extra_title %}

{% block content %}

  <div class="panel panel-default">

    <div class="panel-heading">
      {{ object.title }} Board
      {% if object.deck %}<br>{{ object.deck }} Deck{% endif %}
    </div>

    {% if not object.deck %}
      <p class="text-danger">Warning: this board has no associated deck.</p>
    {% elif not object.deck.cards.exists %}
      <p class="text-danger">Warning: this board's deck is empty.</p>
    {% endif %}

    <div class="panel-body">
      <div id="content">
        {% if object.deck and object.deck.cards.exists %}
          <a class="btn btn-lg btn-primary btn-block" href="{% url "pompom:perform_observation" board.id %}" role="button">
            Choose a Random Card
          </a>
        {% endif %}
        <a class="btn btn-lg btn-primary btn-block" href="{% url "pompom:add_card_note" board.id %}" role="button">
          Add Card Note
        </a>
      </div>
    </div>

  </div>

{% endblock content %}
