{% extends "base.html" %}
{% load static %}

{% block extra_title %}Observation{% endblock extra_title %}

{% block content %}

  <div class="panel panel-default">
    <div class="panel-heading">{{ card.title }}</div>
    <div class="panel-body">

      <div id="content form-group">

        {% for section in card.sections.all %}
          {{ section.contents|safe }}

          {% if section.is_gradable %}

            <div class="btn-group" data-toggle="buttons">
              <label data-value="no" class="control-label btn btn-default" for="button_0">
                <input id="button_0" name="opinion" value="false" type="radio"/>
                <span style="color: #ff0000;"><strong>✘</strong></span>
              </label>
              <label data-value="yes" class="control-label btn btn-default" for="button_1">
                <input id="button_0" name="opinion" value="true" type="radio"/>
                <span style="color: #339966;"><strong>✓</strong></span>
              </label>
              <label data-value="no_idea" class="control-label btn btn-default active" for="button_void">
                <input id="button_0" name="opinion" value="none" type="radio" checked/>
                n/a
              </label>
            </div>
          {% endif %}

          <hr />

        {% endfor %}

        <button type="submit" class="btn btn-default">Submit</button>
      </div>

    </div>

  </div>

{% endblock content %}
