{% load static compress %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  {% block meta %}{% endblock meta %}

  <title>{% block extra_title %}{% endblock extra_title %} - Pompom</title>
  <link rel="icon" href="{% static 'images/favicon.ico' %}" size="32x32" />

  {% compress css %}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/huddle-board.css" %}" rel="stylesheet">

    {% block css %}{% endblock css %}

  {% endcompress %}

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


<div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->

  {% block content %}{% endblock %}
<!--
  <div class="container">
    <footer></footer>
  </div>
-->

</div>

{% compress js %}
  <script src="{% static "js/jquery.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  {% block static_js %}{% endblock static_js %}
{% endcompress %}

{% block dynamic_js %}{% endblock dynamic_js %}

</body>

</html>
