/* equal width for all the buttons */
div.btn-group[data-toggle=buttons] > label {width:5em;}

/* card section grades */

.card-section-n-a {
    color: #606060;
}
.card-section-n-a:before {
    content: "ⁿ/ₐ";
    margin-right: 4px;
    color: #808080;
}
.card-section-success {
    color: #339966;
}
.card-section-success:before {
    content: "✓";
    margin-right: 4px;
}
.card-section-fallout {
    color: #ff0000;
}
.card-section-fallout:before {
    content: "✘";
    margin-right: 4px;
}

/* companion images */

.assist {
    margin: 20px 0 0 0;
}
.assist img {
    max-width:304px;
    max-height:390px;
    width:auto;
    height:auto;
    border-radius: 18px;
	margin: auto;
	display: block;
}
