/* card section grades */

.card-section-n-a {
    color: #606060;
}
.card-section-n-a:before {
    content: "ⁿ/ₐ";
    margin-right: 4px;
    color: #808080;
}
.card-section-success {
    color: #339966;
}
.card-section-success:before {
    content: "✓";
    margin-right: 4px;
}
.card-section-fallout {
    color: #ff0000;
}
.card-section-fallout:before {
    content: "✘";
    margin-right: 4px;
}

/* card notes */

.write-card-note {
    width: 100%;
    height: 35vh;
}
