/* equal width for all the buttons */
div.btn-group[data-toggle=buttons] > label {width:5em;}

/* card section grades */
.card-section-success {
    color: #339966;
}
.card-section-success:before {
    content: "✓";
    margin-right: 4px;
}
.card-section-fallout {
    color: #ff0000;
}
.card-section-fallout:before {
    content: "✘";
    margin-right: 4px;
}
